.classCSS{
    background-color: #96dcf4;
}
.fixWidth{
    width: 300px;
}
.tdClass{
    padding:0;
    vertical-align:top;
}
.tdDivClass{
    margin-top: -18px;
   
} 
/* .inputClass{
    padding-left: 12px;
} */
.declined{
    --sds-c-icon-color-foreground-default: grey;
}
.noBorder{
    border: none;
}